#app {
	width: 400px;
	margin: 0 auto;
	
}
#bottom {
	width: 500px;
	margin: 15px auto;
}
#confirmButton {
	width: 470px;
	height: 37px;
	border: 1px solid lightblue;
	background: #fff;
	color: blue;
}
.line {
	overflow: hidden;
}
.seat {
	margin: 2px;
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	margin-bottom: 10px;

}
.line:first-child {
	margin-top: 50px; 
	margin-top: 50px; 
  }
.seat:hover {
	opacity: 0.5;
	cursor: pointer;
}
.load{
    background-color:white ;
}


.enable {
    
	background-image: url("../../images/seatStyle7.png");
	background-repeat: no-repeat;
	background-size: cover;
  }

  /* 선택한 좌석 */
  .disable{
    /* background-color: orangered; */
	background-image: url("../../images/seatStyle8.png");
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  /* 선택불가 좌석 */
  .soldout{
   
    /* opacity: .5; */
	background-image: url("../../images/seatStyle9.png");
	background-repeat: no-repeat;
	background-size: cover;
     
  }

  .sangmin_choose_table_content {
	--bs-table-bg: none !important;
  }
.seatButton{
	margin-left: 280px;
	width: 100px;
	margin-bottom: 25px;
	margin-top: 15px;
}

#selected_seats{
	margin-top: 10px;
}

#seats{
	width: 400px;

}
.createSeatsNum{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 10px;
	letter-spacing: 30px;
	margin: 10px;

}
